@media (max-width: 520px) {
  .images_responsive_cont div:not(:last-child):not(:nth-child(3)) {
    width: 160px !important;
  }
  .images_responsive_cont div:nth-child(3) {
    margin-left: 50px;
    margin-right: 50px;
  }
}
