.main_clip_path {
  width: 1216px;
  height: 443px;
  background-color: #aca0f8;
  clip-path: path(
    "M0 31C0 13.8792 13.8792 0 31 0H1021.5C1038.62 0 1052.5 13.8792 1052.5 31V127C1052.5 144.121 1066.38 158 1083.5 158H1185C1202.12 158 1216 171.879 1216 189V412C1216 429.121 1202.12 443 1185 443H31C13.8792 443 0 429.121 0 412V31Z"
  );
}

.clip {
  clip-path: path(
    "M0 25C0 11.1929 11.1929 0 25 0H296.44C310.248 0 321.44 11.1929 321.44 25V71.1212C321.44 84.9283 332.633 96.1212 346.44 96.1212H378C391.807 96.1212 403 107.314 403 121.121V219C403 232.807 391.807 244 378 244H25C11.1929 244 0 232.807 0 219V25Z"
  );
}
.step4 {
  width: 1216px;
  height: 443px;
  background-color: #fed2f2;
  clip-path: path(
    "M1216 31C1216 13.8792 1202.12 0 1185 0H194.5C177.379 0 163.5 13.8792 163.5 31V127C163.5 144.121 149.621 158 132.5 158H31C13.8792 158 0 171.879 0 189V412C0 429.121 13.8792 443 31 443H1185C1202.12 443 1216 429.121 1216 412V31Z"
  );
}
