@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --headlinks-color: #2e2f30;
  --secondaryblack-color: #252525;
  --lightblack-color: #404040;
  --darkgray-color: #475467;
  --darkring-color: #344054;
  --lightgray-color: #595959;
  --bgdrop-color: #bfbfbf4d;
  --ringlight-color: #ffffff80;
  --dotlight-color: #ffffff8c;
  --offwhite-color: #ffffff4d;
  --semiblue-color: #4541f1;
  --lightpurple-color: #96b0fc;
  --semilightpurple-color: #aca0f8;
  --lightyellow-color: #feff76;
  --semiyellow-color: #f7fd8e;
  --thingray-color: #eaecf0;
  --thirdblack-color: #101828;
  --lightgrayborder-color: #989898;
  --semidarkgray-color: #d0d5dd;
  --graybadge-color: #f1f3f5;
  --textbadge-color: #2b2c2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-inter), sans-serif;
}
ul {
  list-style: none;
  display: flex;
}


.activeLink {
  color: #4541f1;
}



