.scroll-container {
  width: 100%;
  overflow: hidden; /* Hide overflowing content */
  position: relative;
}

.scroll-wrapper {
  width: 100%;
  overflow: hidden; /* Prevent scrollbars */
  position: relative;
}

.scroll-track-left {
  display: flex;
  animation: scroll-infinite-left 20s linear infinite;
  animation-direction: alternate-reverse;
}
.scroll-track-right {
  display: flex;
  animation: scroll-infinite-right 20s linear infinite;
  animation-direction: alternate-reverse;
}
.scroll-item {
  position: relative;
  flex-shrink: 0;
  width: 448px;
  height: 225px;
  margin-right: 14px;
  box-shadow: 0px 4px 6px -2px #10182808 /*, 0px 12px 16px -4px #10182814*/;
  border-radius: 16px;
  border: 1px solid var(--thingray-color);
  overflow: hidden;
}

/* Keyframes for continuous horizontal scrolling */
@keyframes scroll-infinite-left {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(
      calc(100% - (6 * 448px + 5 * 14px))
    ); /* Move left by one full track width */
  }
}
@keyframes scroll-infinite-right {
  0% {
    transform: translate(
      calc(100% - (6 * 448px + 5 * 14px))
    ); /* Move left by one full track width */
  }
  100% {
    transform: translate(0);
  }
}
