@media (max-width: 767px) {
  .midImage {
    height: 100px !important;
  }
}
@media (max-width: 425px) {
  .responsive_grid_scale {
    scale: 0.9;
  }
  .margin_Top1s {
    margin-top: 2rem;
  }
  .margin_Top2s {
    margin-top: 1.5rem;
  }
}
