.clip_cont {
  width: 300px;
  background-color: transparent;
  position: absolute;
  top: -1px;
  right: -1px;
}
.corner_1 {
  position: absolute;
  background-color: white;
  width: 37px;
  height: 55px;
  right: 266px;
  top: 0px;
  border-bottom-left-radius: 18px;
  transform: rotate(-12deg);
}
.corner_2 {
  position: absolute;
  width: 50px;
  height: 50px;
  /* border-radius: 50%; */
  border-top-right-radius: 20px;
  /* border-bottom-ri-radius: 0; */
  background-color: transparent;
  box-shadow: 10px -10px 0 white;
  right: -1px;
  top: 54px;
}
.corner_3 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0px -30px 0 white;
  right: 305px;
  top: 0px;
  transform: rotate(45deg);
}
@media (max-width: 640px) {
  .clip_cont {
    width: 174px;
  }
  .corner_1 {
    right: 156px;
  }
  .corner_3 {
    right: 195px;
  }
}
